
body{
    font-family: "Roboto", "Arial", "sans-serif";
    font-size: 18px;
    line-height: 150%;
    font-weight: 50;
}

.title {
    color: rgb(255, 255, 255);
    background: #30303a;
    padding: 10%;
    width: 100%;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

button:hover{
    cursor: pointer;
    color: blue;
}

h2, h3, p {
    Weight: 700;
    line-height: 1.5;
    color: var(--color-text);
    font-weight: normal;
}

footer a {
    color: white;
}

header a {
    color: black;
    Weight: 500;
    font-family: "Roboto";
}

.WebStudio{
    font-family: Raleway;
    color: #2196F3;
    width: 145px;
}

nav a:active {
    color: #2196F3;
}
.:active