
ul {
    list-style: none;
}

.WebStudio {
    font-family: Raleway;
    color: #2196F3;
    Weight: 700;
    width: 145px;
}

.info {
    color: #757575;
    Weight: 500;
}

header a {
    font-family: "Roboto", "Arial", "sans-serif";
    Weight: 500;
    font-style: normal;
}

.button-estudio {
    cursor: pointer;
    color: #ffffff;
    background-color: #2196F3;
    width: 197px;
    height: 30px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.button-portafolio:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: #2196F3;
}

body{
    font-family: "Roboto", "Arial", "sans-serif";
    line-height: 150%;
    font-weight: 50;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h2 {
    text-align:center;
    line-height: 42px;
    color: #212121;
    font-weight:700;
    font-size: 20px;
}

h3 {
    Width: 270px;
    Weight: 700;
    Size: 14px;
    line-height: 1.5;
    color: #212121;
    font-weight: normal;
}

p {
    color: #757575;
    Weight: 400;
}

h3 .target{
    Weight: 500;
    font-Size: 2px;
    Width: 97px;
}

.title {
    color: rgb(255, 255, 255);
    background: #30303a;
    width: 100%;
    text-align-last: center;
}

.title2 {
    color: rgb(255, 255, 255);
    background: #30303a;
    width: 100%;
}

footer a {
    color: white;
}
a:link {
    text-decoration: none;
}

a:isvited {
    text-decoration: none;
}


